@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;
}
h1,h2,h3,h4 {
    font-family: 'Hind Madurai', sans-serif;
}
.form-control {
  border: 1px solid #fff;
  border-radius: 0;
  margin-bottom: 20px;
  color: #8A8A8A;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background: none;
}
.espac-top {
  display: block;
  border: 1px solid blue;
  padding: 17px;
}
.btn-bordes {
  background: #131313;
  border: none;
  border-radius: 3px;
  color: #606060;
  font-family: 'Hind Madurai', sans-serif;
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
  margin:20px 0;
  display: inline-block;
}
.btn-bordes:hover {
  text-decoration: none;
  color: #e16a20;
}
header {
  width:100%;
}
header nav {
  width:100%;
  margin:0px auto;
  background:#e16a20;
  position: fixed;
  z-index: 999;
}
header nav .logo{
  display: block;
  margin: 4px;
}
.menu_bar {
  display:none;
}
 
header nav ul {
  overflow:hidden;
  list-style:none;
  margin: 0;
}
 
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color:#fff;
  padding:11px 20px;
  display:block;
  text-decoration:none;
  font-size: 14px;
  font-family: 'Hind Madurai', sans-serif;
}
 
header nav ul li a:hover {
  color: #000;
  text-decoration:none;
}
/* estilos banner =========*/
.parallax-bnr {
  position: relative;
}
.parallax-bnr  .bnr-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.parallax-bnr  .bn{
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  width: 100%;
  height: 629px;
  flex-shrink: 0;
  transition: 0.9s ease-in-out transform;
  backface-visibility: hidden;
}
.parallax-bnr .bn-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
}
.parallax-bnr ol {
  display: inline-block;
}
.parallax-bnr .bn-indicator li {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: #000;
}
.parallax-bnr .bn-indicator li:hover {
  background:rgba(227, 107, 33, 1);
}
.parallax-bnr .bn-indicator li.active {
  background:rgba(227, 107, 33, 1);
}

.parallax-bnr  .content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  color: #fff;
  transform: translate(-5px);
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
}
.parallax-bnr  .caption {
  padding: 20px;
  transition: 0.4s;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translatey(200%);
}
.parallax-bnr  .bn-active .caption {
  transform: translatey(0);
  opacity: 1;
}
.parallax-bnr  .bn1 {
  background: url("../img/img.png") top center;
}
.parallax-bnr  .bn2 {
  background: url("../img/2img.jpg") top center;
}
.parallax-bnr  .bn3 {
  background: url("../img/3img.jpg") top center;
}
.parallax-bnr  .bn4 {
  background: url("../img/4img.jpg") top center;
}
.parallax-bnr  .bn5 {
  background: url("../img/5img.jpg") top center;
}
/* fin estilos banner principal=============*/ 
 
/* estilos caja consultoria=================*/
.box-consultoria {
  margin:120px 0 50px; 
}
.titulo{
  font-size: 17px;
  color: #de6a20;
  margin: 20% 0 20px;
  font-weight: 300;
}
.box-consultoria .mainConsul {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
}
.box-consultoria .mainConsul span{
  font-size:24px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.box-consultoria .second{
margin: 20px 0;
font-size: 14px;
line-height: 1.3;
text-align: justify;
width: 70%;
}
.box-frase {
  background-color: #ececec;
background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  padding: 50px 0;
}
.box-frase h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
}
.box-frase p {
  text-align: center;
  margin: 10px;
  color: #dd6a20;
}
/* estilos servicios*/
.titulo-gn{
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  margin:80px 0;
}
.titulo-gn span{
  font-weight: 600;
  font-size: 28px;
  display: block;
}
/*==============fin estilos servicios*/
.box-serv{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.box-serv .cint {
   background: rgba(218,16,100,1);
background: -moz-linear-gradient(45deg, rgba(218,16,100,1) 0%, rgba(237,84,70,1) 50%, rgba(248,124,51,1) 80%, rgba(255,151,39,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,16,100,1)), color-stop(50%, rgba(237,84,70,1)), color-stop(80%, rgba(248,124,51,1)), color-stop(100%, rgba(255,151,39,1)));
background: -webkit-linear-gradient(45deg, rgba(218,16,100,1) 0%, rgba(237,84,70,1) 50%, rgba(248,124,51,1) 80%, rgba(255,151,39,1) 100%);
background: -o-linear-gradient(45deg, rgba(218,16,100,1) 0%, rgba(237,84,70,1) 50%, rgba(248,124,51,1) 80%, rgba(255,151,39,1) 100%);
background: -ms-linear-gradient(45deg, rgba(218,16,100,1) 0%, rgba(237,84,70,1) 50%, rgba(248,124,51,1) 80%, rgba(255,151,39,1) 100%);
background: linear-gradient(45deg, rgba(218,16,100,1) 0%, rgba(237,84,70,1) 50%, rgba(248,124,51,1) 80%, rgba(255,151,39,1) 100%);
}
.box-serv .cint .rimg{
  float: right;
}
.box-serv .cint .icon, .box-serv .cint2 .icon, .box-serv .cint3 .icon, .box-serv .cint4 .icon{
  display: block;
  width: 50px;
  height: auto;
  margin: 15px auto;
}
.box-tiulo {
   font-family: 'Hind Madurai', sans-serif;
   font-size: 34px;
   text-align: center;
   color: #fff;
   font-weight: 600;
}
.simple {
  display: block;
  text-decoration:none;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  margin: 15px 0 10px;
}
.box-serv .cint2 {
   background: rgba(8,196,238,1);
background: -moz-linear-gradient(45deg, rgba(8,196,238,1) 0%, rgba(84,201,228,1) 50%, rgba(129,203,222,1) 80%, rgba(159,205,218,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(8,196,238,1)), color-stop(50%, rgba(84,201,228,1)), color-stop(80%, rgba(129,203,222,1)), color-stop(100%, rgba(159,205,218,1)));
background: -webkit-linear-gradient(45deg, rgba(8,196,238,1) 0%, rgba(84,201,228,1) 50%, rgba(129,203,222,1) 80%, rgba(159,205,218,1) 100%);
background: -o-linear-gradient(45deg, rgba(8,196,238,1) 0%, rgba(84,201,228,1) 50%, rgba(129,203,222,1) 80%, rgba(159,205,218,1) 100%);
background: -ms-linear-gradient(45deg, rgba(8,196,238,1) 0%, rgba(84,201,228,1) 50%, rgba(129,203,222,1) 80%, rgba(159,205,218,1) 100%);
background: linear-gradient(45deg, rgba(8,196,238,1) 0%, rgba(84,201,228,1) 50%, rgba(129,203,222,1) 80%, rgba(159,205,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08c4ee', endColorstr='#9fcdda', GradientType=1 );
}

.box-serv .cint3 {
  background: rgba(247,207,119,1);
background: -moz-linear-gradient(45deg, rgba(247,207,119,1) 0%, rgba(243,180,151,1) 50%, rgba(240,163,169,1) 80%, rgba(238,152,182,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(247,207,119,1)), color-stop(50%, rgba(243,180,151,1)), color-stop(80%, rgba(240,163,169,1)), color-stop(100%, rgba(238,152,182,1)));
background: -webkit-linear-gradient(45deg, rgba(247,207,119,1) 0%, rgba(243,180,151,1) 50%, rgba(240,163,169,1) 80%, rgba(238,152,182,1) 100%);
background: -o-linear-gradient(45deg, rgba(247,207,119,1) 0%, rgba(243,180,151,1) 50%, rgba(240,163,169,1) 80%, rgba(238,152,182,1) 100%);
background: -ms-linear-gradient(45deg, rgba(247,207,119,1) 0%, rgba(243,180,151,1) 50%, rgba(240,163,169,1) 80%, rgba(238,152,182,1) 100%);
background: linear-gradient(45deg, rgba(247,207,119,1) 0%, rgba(243,180,151,1) 50%, rgba(240,163,169,1) 80%, rgba(238,152,182,1) 100%);
}
.box-serv .cint4 { 
background: rgba(243,119,212,1);
background: -moz-linear-gradient(top, rgba(243,119,212,1) 0%, rgba(196,134,217,1) 20%, rgba(125,156,224,1) 50%, rgba(6,193,236,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,119,212,1)), color-stop(20%, rgba(196,134,217,1)), color-stop(50%, rgba(125,156,224,1)), color-stop(100%, rgba(6,193,236,1)));
background: -webkit-linear-gradient(top, rgba(243,119,212,1) 0%, rgba(196,134,217,1) 20%, rgba(125,156,224,1) 50%, rgba(6,193,236,1) 100%);
background: -o-linear-gradient(top, rgba(243,119,212,1) 0%, rgba(196,134,217,1) 20%, rgba(125,156,224,1) 50%, rgba(6,193,236,1) 100%);
background: -ms-linear-gradient(top, rgba(243,119,212,1) 0%, rgba(196,134,217,1) 20%, rgba(125,156,224,1) 50%, rgba(6,193,236,1) 100%);
background: linear-gradient(to bottom, rgba(243,119,212,1) 0%, rgba(196,134,217,1) 20%, rgba(125,156,224,1) 50%, rgba(6,193,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f377d4', endColorstr='#06c1ec', GradientType=0 );
}
.sliderlogo{
  padding: 60px 5px;
}

/* inicio clientes */
.sliderlogo2{
  padding: 0 55px;
}
.clientes{
  background: #ececec;
  padding: 20px 0 50px;
}
.boxi a{
  border:0;
}
.boxi a:focus{
  border:0;
}
.box-clien img{
  border-radius: 3px;
}
.box-clien p{
  font-size: 14px;
  margin: 10px 0;
  padding: 5px;
  color: #000000;
  text-decoration: none;
}
/* modal*/
.modal-servicio{
  margin-top: 10%;
}
.box-modal{
  padding: 20px;
  margin: 5px;
}
.box-modal h1{
  text-transform: uppercase;
  margin: 50px 0 0;
  font-size: 20px;
  font-weight: 600;
}
.box-modal span{
  color: #e36b21;
  font-weight: 600;
}
.box-modal p{
  font-size: 14px;
  line-height: 1.5;
  margin: 50px 0 20px;
  text-align: justify;
  width: 90%;
}
.close1 {
  border: none;
  position: absolute;
  right: 0;
  margin:5px;
  z-index: 99;
  background: #d16a20;
  color: #fff;
}
  /* contacto */
 .box-n {
    background-color: #000;
    padding:8px 0 5px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 21px;
    display: block;
  }
  .box-n a{
    color: #fff;
    text-decoration: none;
  }
  .cerrar{
    background-color: #000;
    border:none;
    color: #fff;
    float: right;
  }
.cont{
  background: #1c1c1c;
  padding: 1px;
}
.desc {
  text-align: center;
  color: #fff;
  line-height: 2;
}
.redes, .redes a {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}
.redes span{
  display: inline-block;
  color: #fff;
  text-align: center;
  background: #ce6a20;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 6px;
  margin:0 10px 0;
}
.top-p{
    background-color: #000;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
    float: right;
    margin: 10px;
  }
 .top-p i{
    color: #fff;
  }
.btn-bordes2 {
  background: #131313;
  border: none;
  border-radius: 3px;
  color: #e16a20;
  font-family: 'Hind Madurai', sans-serif;
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
  margin:20px 0;
  display: inline-block;
}
.btn-bordes2:hover {
  text-decoration: none;
  color: #606060;
}
/* sectiones -consultoria*/
.icon-sec{
  display: block;
  text-align: center;
  font-size: 40px;
  color: #e16a20;
}
.ttext{
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}
/*====*/
.box-servicios-sect{
  background: #131313;
  height: 100%;
}
.img-sect {
  display: block;
  text-align: center;
  margin:20px auto;
}
.espacio2{
  display: block;
  padding: 60px 0;
}
.second2{
margin: 20px 0;
font-size: 14px;
line-height: 1.3;
text-align: justify;
width: 90%;
color: #fff;
}
.titulo-sect1{
  font-weight: 600;
  font-size: 48px;
  margin:50px 0;
  color: #fff;
}
.titulo-gn span{
  font-weight: 600;
  font-size: 28px;
  display: block;
}







/*styles for mobile menu*/
@media screen and (max-width:800px ) {
  header nav {
    width:80%;
    height:100%;
    left:-100%;
    margin:0;
    position: fixed;
    background: #000;
  }

  header nav ul li {
    display:block;
    float:none;
    border-bottom:1px solid rgba(255,255,255, .3);
  }
  header nav ul li a {
    padding:30px;
    font-size: 20px;
  }
  header nav ul li a:hover {
    color: #e16a20;
  }

  .menu_bar {
    display:block;
    width:100%;
    background:#000;
  }
  .menu_bar .bt-menu {
    display:block;
    padding:15px;
    background:#e16a20;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:24px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .menu_bar i{
    float:right;
    font-size:24px;
  }
}

/*styles for mobile ==============================================Estilos todos======0=0*/

@media (max-width: 767px) {
  .espac-top {
    display: none;
}
.parallax-bnr  .bn{
  height: 500px;
}
.parallax-bnr  .bn3 {
  background: url("../img/3img-m.jpg") top center;
}
.box-consultoria {
  margin:0; 
  padding: 0 20px;
}
 .titulo{
  font-size: 14px;
  margin: 20% auto 5px;
}
.box-consultoria .mainConsul {
  font-size: 22px;
}
.box-consultoria .mainConsul span{
  font-size:18px;
  margin-bottom: 5px;
}
.box-consultoria .second{
margin: 20px 0;
font-size: 12px;
width: 90%;
}
/* estilos servicios*/
.titulo-gn{
  font-size: 28px;
}
.titulo-gn span{
  font-size: 18px;
}
.img-sect {
  margin:5px auto;
}
.espacio2{
  display: block;
  padding: 20px 0;
}
.second2{
margin: 15px 0;
font-size: 14px;
line-height: 1.3;
text-align: justify;
width: 90%;
color: #fff;
}
.titulo-sect1{
  font-weight: 600;
  font-size: 35px;
  margin:15px 0;
  color: #fff;
}
.titulo-gn span{
  font-weight: 600;
  font-size: 38px;
  display: block;
}

}
/* =================================*/

@media (min-width: 768px) and (max-width: 991px) {
    .espac-top {
    display: none;
}
.parallax-bnr  .bn{
  height: 500px;
}
.parallax-bnr  .bn3 {
  background: url("../img/3img-m2.jpg") top center;
}
.box-consultoria {
  margin:50px 0; 
  padding: 0 20px;
}
.box-consultoria .titulo{
  font-size: 14px;
  margin: 20% auto 5px;
}
.box-consultoria .mainConsul {
  font-size: 22px;
}
.box-consultoria .mainConsul span{
  font-size:18px;
  margin-bottom: 5px;
}
.box-consultoria .second{
margin: 20px 0;
font-size: 12px;
width: 90%;
}
.box-tiulo {
   font-family: 'Hind Madurai', sans-serif;
   font-size: 18px;
   text-align: center;
   color: #fff;
   font-weight: 600;
}
.espacio2{
  display: block;
  padding: 20px 0;
}
.box-servicios-sect{
  background: #131313;
  height: auto;
}
}
/* =================================*/
@media (min-width: 992px) and (max-width: 1199px){
.box-consultoria {
  margin:80px 0; 
  padding: 0 20px;
}
.box-servicios-sect{
  background: #131313;
  height: auto;
}
  /* ipad */

  /* =================================*/
}
